<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lucid</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
    <link rel="stylesheet" href="../../www/index.min.css">
</head>
<body>

    <%- include('./../components/header/header.ejs'); -%>

    <%- include('./../components/product-overview/product-overview.ejs'); -%>

    <%- include('./../components/beautiful-on-every-device/beautiful-on-every-device.ejs'); -%>

    <%- include('./../components/easy-customize/easy-customize.ejs'); -%>

    <%- include('./../components/pricings-plans/pricings-plans.ejs'); -%>

    <%- include('./../components/quality-price-plan/quality-price-plan.ejs'); -%>

    <%- include('./../components/contact-us/contact-us.ejs'); -%>

    <%- include('./../components/footer/footer.ejs'); -%>

    <script src="../../www/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>new WOW().init();</script>
    <script src="../../www/index.js"></script>
</body>
</html>
