<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>game</title>
    <link rel="stylesheet" href="../../www/index.min.css">
</head>

<body>

    <%- include('./../components/header/header.ejs'); -%>

    <%- include('./../components/about/about.ejs'); -%>

    <%- include('./../components/projects/projects.ejs'); -%>

    <%- include('./../components/strategic-process/strategic-process.ejs'); -%>

    <%- include('./../components/provided/provided.ejs'); -%>

    <%- include('./../components/our-team/our-team.ejs'); -%>

    <%- include('./../components/testimonials/testimonials.ejs'); -%>

    <%- include('./../components/blogs/blogs.ejs'); -%>

    <%- include('./../components/contact-us/contact-us.ejs'); -%>

    <%- include('./../components/footer/footer.ejs'); -%>

</body>

</html>